* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
.cabecalho {
    background-color: black; 
    color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-img {
    max-width: 90px;   
    width: auto;
}

.logo-container h1 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

.logo-container p {
    font-size: 0.9rem;
    opacity: 0.8;
    color: red;
}


/* Navegação */


.menu ul{
    list-style: none;
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu a {
    /*color: white; */
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.menu a:hover {
    background-color: rgba(248, 16, 28, 0.884);
}

.menu a.ativo {
    background-color: #D4AF37; /* Dourado */
    color: #000;
}