.time-header {
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.time-header h1 {
    font-size: 6rem;
    margin: 10px 0;
    font-family: 'bebas neue';
    
}

.time-header p {
    font-size: 25px;
    opacity: 0.8;
}